
.about {
  align-items: center;
  background-color: #1f1d1c;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
  min-height: 500px;

  &-title {
    align-items: center;
    display: flex;
    height: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    min-width: 280px;
    width: 100%;

    h2 {
      color:#e6d32c;
      font-size: 1.5rem;
      font-weight: 300;

      @media (max-width: 768px) {
        font-size: 1.3rem;
      }

      @media (max-width: 400px) {
        font-size: 1.3rem;
      }

      @media (min-width: 2000px) {
        font-size: 1.7vw
      }
  
    }

    h3 {
      font-weight: 300;
      font-size: 1.2rem;
      color: rgb(255, 255, 255);
      opacity: .8;
      @media (max-width: 768px) {
        font-size: 1.2rem;
      }

      @media (max-width: 400px) {
        font-size: .8rem;
      }

      @media (min-width: 2000px) {
        font-size: 1.3vw
      }
    }
  }

  &-tech {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    label {
      color:#e6d32c;
      font-size: 1.5rem;
      font-weight: 300;
      transition: .3s;
      margin-top: 2vw;
      margin-bottom: 2vw;

      &:hover {
        cursor: pointer;
      }
  
      @media (max-width: 768px) {
        font-size: 1.3rem;
        margin-top: 10vw;
      }

      @media (max-width: 400px) {
        font-size: 1rem;
      }

      @media (min-width: 2000px) {
        font-size: 1.7vw
      }
    }

    h3 {
      font-weight: 300;
      font-size: 1.2rem;
      color: rgb(202, 202, 202);
      white-space: nowrap;

      @media (max-width: 768px) {
        font-size: 1.2rem;
      }

      @media (max-width: 400px) {
        font-size: .9rem;
      }

      @media (min-width: 2000px) {
        font-size: 1.3vw
      }
    }
  }
}